[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tensorflow = "==1.15.4"
numpy = "==1.16.0"
matplotlib = "==1.5.3"
scipy = "==1.2"
pillow = "*"
imageio = "*"
opencv-python = "*"

[requires]
python_version = "3.7"
